<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="
                http://www.springframework.org/schema/beans
                http://www.springframework.org/schema/beans/spring-beans.xsd
                http://www.springframework.org/schema/context
                http://www.springframework.org/schema/context/spring-context.xsd">
                
     			<context:annotation-config />
     <bean id="birds" class="com.assignment.ioc.Birds">
            <property name = "animal_name" value = "Dove" />
      		<property name = "animal_type" value = "Mourning" />
      		<property name = "color" value = "light brown" />
        </bean>
 
           	 <bean id="mammals" class="com.assignment.ioc.Mammals">
     	 	<constructor-arg index="0" value="Dog" />
     	 	<constructor-arg index="1" value="Dashhund" />
     	 	<constructor-arg index="2" value="Black" />
      	</bean>
          <bean id="person" class="com.assignment.ioc.Person">
     	 	<constructor-arg index="0" value="James" />
     	 	<constructor-arg index="1" value="22" />
     	 	
        </bean> 	
      	  <bean id="person_animal" class="com.assignment.ioc.Animal">
     	 	<constructor-arg index="0" value="Dog" />
     	 	 <constructor-arg index="1" value="2" />
      	</bean>
   </beans>